.mainPage {
    height: 100%;
    background-color: #202124;
    padding: 20px
}

.mainText {
    color: #6FCF97;
    display: flex;
    justify-content: center;
}

.tabs {

    display: flex;
    justify-content: space-between;
}