.mainPage {
  height: 100%;
  background-color: #202124;
  padding: 20px;
}

.mainText {
  color: #6fcf97;
  display: flex;
  justify-content: center;
  padding-bottom: 20px;
  font-size: 28px;
}

.tabs {
  display: flex;
  justify-content: space-between;
}
@media only screen and (min-width: 600px) {
  .sheading {
    display: none;
  }
}
@media only screen and (max-width: 600px) {
  .heading {
    width: 100%;
    border-radius: 4px;
    text-align: center;
    color: #6fcf97;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .mainText {
    color: #eb5757;
    margin-top: 10px;
  }
}
